

<h2 style="text-align: center;" class="mt-5 mb-3">Applied Leaves</h2>
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary returnHomeButton" [routerLink]="['/landing-page']">Return To Home</button>
  </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Teacher ID</th>
            <th>Teacher Name</th>
            <th>Leave From</th>
            <th>Leave Till</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let leave of leaves">
            <td>{{leave.id}}</td>
            <td>{{leave.teacherId}}</td>
            <td>{{leave.teacherName}}</td>
            <td> {{leave.leaveFrom}} </td>
            <td>{{leave.leaveTill}}</td>
            <td>
                <div *ngIf="leave.status==0" class="leaveButtons"><button class="btn btn-sm btn-danger mx-1 deleteButton" (click)="deleteLeave(leave.id)">Delete</button>
                    <button class="btn btn-sm btn-secondary mx-1 approveButton" (click)="approveLeave(leave.id)">Approve</button>
                </div>
                <div *ngIf="leave.status==1"><button class="btn btn-sm btn-warning mx-1 approvedButton" (click)="undoApprove(leave.id)" >Approved</button></div>
                
                
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="leaves.length; else noReservation">

</ul>

<ng-template #noReservation>
    <p>No reservation available.</p>
</ng-template>

