.spinner-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    flex-wrap: wrap; /* Wrap spinners to the next line if needed */
    gap: 10px; /* Add some spacing between spinners */
  }
  
  a{
    border-radius: 5px;
  }
  button{
    background-color: rgba(0,0,0,0) ;
    border: none;
    width: 100%;
  }