body{
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}
.container {
    
    margin-top: 30vh;
    
    
   
  }
  .card {
    
    border-radius: 10px;
  }

  .loginButton{
    border-radius: 30px;
  }
  