

<div class="container mt-5">
    
    <h2 class="text-center">Add New Student</h2>
    <div class="d-flex justify-content-end mb-3">
        
        <button class="btn btn-primary" [routerLink]="['/']">Return To Home</button>
        
      </div>
    <form (ngSubmit)="addStudent()" #studentForm="ngForm" class="mt-4">
      <div class="form-group">
        <label for="id">Student ID</label>
        <input
          type="text"
          class="form-control"
          id="id"
          name="id"
          [(ngModel)]="newStudent.id"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="newStudent.name"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="class">Class</label>
        <input
          type="text"
          class="form-control"
          id="class"
          name="class"
          [(ngModel)]="newStudent.class"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="branch">Branch</label>
        <input
          type="text"
          class="form-control"
          id="branch"
          name="branch"
          [(ngModel)]="newStudent.branch"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="latest_cpi">CPI</label>
        <input
          type="number"
          class="form-control"
          id="latest_cpi"
          name="latest_cpi"
          [(ngModel)]="newStudent.latest_cpi"
          min="0"
          max="10"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="newStudent.email"
          required
        />
        
      </div>
  
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="newStudent.phone"
          required
        />
      </div>
  
      <h5 class="mt-4">Address</h5>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          [(ngModel)]="newStudent.address.city"
          required
        />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          name="state"
          [(ngModel)]="newStudent.address.state"
          required
        />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="country"
          [(ngModel)]="newStudent.address.country"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!studentForm.form.valid">Add Student</button>
    </form>
  </div>
  